<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/sandbox']">Sandbox</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li> -->
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>
  </div>
</nav>
