<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap">
  <a class="navbar-brand" [routerLink]="['/sandbox']">
    <img src="../../../assets/chronut.svg" alt="">
  </a>
  <div class="dropdown" dropdown>
    <span class="mr-1">
      <img src="{{photoUrl || '../../../assets/user.png'}}" alt="">
    </span>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{authService.decodedToken?.unique_name | titlecase}}
    </a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/member/edit']">
        <i class="fa fa-user"></i>Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()">
        <i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>
</nav>
